
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div id="adbox">
    <div>
        <img src="~/images/beauty.png" alt="Img">
        <div class="details">
            <h3>We Bring out your beauty naturally...</h3>
            <a href="index.html">Set An Appointment Now</a>
        </div>
    </div>
    <span class="footer"></span>
</div>
<div id="featured">
    <a href="index.html" class="all-colors"></a> <a href="index.html" class="highlights"></a> <a href="index.html" class="coloring"></a>
</div>

